<nav>
  <ul class="pagination">
    <li class="class page-item" [appClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index">
      <li
        class="page-item"
        [appClass]="{ active: i === currentPage }"
        (click)="currentPage = i"
        *ngIf="checkWindowIndex(i)"
      >
        <a class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li class="class page-item" [ngClass]="{ disabled: currentPage === 3 }">
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">Current Page is zero</div>
  <div *ngSwitchCase="1">Current Page is one</div>
  <div *ngSwitchCase="2">Current Page is two</div>
  <div *ngSwitchDefault>Unknow page</div>
</div>

<!-- using a custom directive -->
<!-- <h4 [appClass]="'yellow'">{{ images[currentPage].title }}</h4> -->

<img [src]="images[currentPage].url" />

<!-- Custom Structual directive -->
<!-- examples here shows you can also reference the context data -->
<ul *appTimes="images.length; let idx = index">
  <li>Hi there {{ idx }}</li>
</ul>
